/* styles/homepage.css */

.homepage-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .homepage-title {
    color: #333;
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .homepage-text {
    color: #666;
    font-size: 18px;
  }
  