nav {
    background-color: #386641;
    color: white;
    font-size: 20px; /* Font size for the navigation bar */
    padding: 1rem;
    text-align: center;
    
  }
  
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
nav li {
    margin: 0 10px;
  }
  
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 19px; /* Font size for navigation links */
    transition: color 0.2s ease-in-out;
  }
  
nav a:hover {
    color: #a7c957; /* Change the color on hover */
  }
  
  /* Font size for other elements in your app */
  h1 {
    font-size: 24px;
  }
  
  p {
    font-size: 50px;
  }
  